*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --success-color: #2691d9;
    --error-color: #e74c3c;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.main{
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.form{
    
    width: 40rem;
    
    padding: 4rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);

}

.form h1{
    text-align: center;

}

.form-control{
    width: 100%;
    position: relative;
    margin-top: 2rem;
}

.form-control input{
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-bottom: 0.2rem solid #adadad;
}

/*~: sibling*/
.form-control .transition{
    border-bottom: 0.3rem solid var(--success-color);
    position: absolute;
    top: 3.8rem;
    left: 0;
    width: 0%;
    transition: 0.3s;
}

.form-control input:focus ~ span{
    width: 100%;

}

.form-control.error .form-massage{
    color: var(--error-color);
    margin-top: 0.5rem;
    float: left;
 
}

.form-control.error input{
    border-bottom: 0.2rem solid var(--error-color);
}

.btn-submit{
    color: #fff;
    border: none;
    outline: none;
    background-color: var(--success-color);
    width: 100%;
    padding: 1rem;
    margin-top: 4rem;
    border-radius: 2rem;
}

.btn-submit:hover{
    cursor: pointer;
    background-color: rgb(56, 90, 194);

}

.signin{
    margin-top: 3rem;
    text-align: center;
}

.signin a{
    color: var(--success-color);
    text-decoration: none;
    cursor: pointer;
}



.signin a:hover{
    text-decoration: underline;
}

